mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User profile picture")
        .textareaContainer  
            textarea#postTextarea(placeholder='Whats happening?')
            .buttonContainer 
                button#submitPostButton(disabled="") Post